footer{
    background-color: #262626;
    color:white;
    padding-top:20px;
    .footer-wrapper{
        width:80%;
        margin:0 auto;
        display:flex;
        justify-content: space-between;
        h4{
            margin:0;
            font-size:2rem;
        }
        .footer-block{
          width:33%;
        }
            .contact-info{
                .contact-info-block{
                    display:flex;
                }
                img{
                    width:40px;
                    height:40px;
                    margin-right:10px;
                }
            }
            
            .footer-icons-block{
                display:flex;
                margin:15px 0;
                img{
                    height:50px;
                    width:50px;
                    margin-right:10px;
                }
                img:hover{
                    background-color: #bab4b4;
                }
            }
        .footer-form{
            margin-bottom:15px;
            input{
                padding:15px;
            }
            button{
                padding:15px 30px;
                background-color: #bab4b4;
                color:white;
            }
            button:hover{
                background-color: bisque;
                color:black;
            }
        }
        .icons-used{
            display: none;
        }
    }
    
   
}

@media screen and (max-width:768px) {
    footer{
        .footer-wrapper{
            flex-direction: column ;
            text-align: center;
    
            .footer-block{
                width:100%;
            }
            .footer-follow{
                text-align: center;
                .footer-icons-block{
                    justify-content: center;
                }
            }
        }
    }
    
}