
#slider{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #313131;
    margin-top:70px;// navigation height
    padding-bottom:30px;
    .container{
        width:1600px;
        margin:auto;
        color:white;
        h2{
            font-size:2rem;
            margin-bottom:10px;
        }
        h3{
            font-size:1.5rem;
        }
        p{
            font-size:1.5rem;
        }
        .subcontainer{
            width:85%;
            margin:auto;
        }
    }
}

.slide-img{
    width:100%;
    height:75vh;
    border-radius: 5px;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    display:flex;
    justify-content: center;
    align-items: center;
    transition:0.5s;
}

.slide-img:hover{
    box-shadow: 0 0 0 500px rgba(0,0,0,0.8) inset;
}

.slide-img p{
    opacity: 0;  //щоб по дефолту не видно було
    text-decoration: none;
    transform:scale(0);       //щоб по дефолту не видно було
    transition:0.8s;
    font-size:1.5rem;
    color:white;
}

.slide-img:hover p{
    opacity: 1;
    transform: scale(1);
}

.img-1{
    background-image: url(../images/slide-1.jpg);
}
.img-2{
    background-image: url(../images/slide-2.jpg);
}
.img-3{
    background-image: url(../images/slide-3.jpg);
}

@media  screen and (max-width:1600px) {
    #slider{
        .container{
            width:100%;
        }   
    }
}
@media  screen and (max-width: 500px) {
    .slide-img{
        height:50vh;
    } 
    .grid_item{
        width:80%;
        margin:0 10%;
    }
}
    