body,
ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #262626;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}

li {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.nav-branding {
    font-size: 2rem;
}

.nav-link {
    transition: 0.7s ease;
}

.nav-link:hover {
    color: bisque;
}

.login-icon {
    height: 25px;
    width: 25px;
}

.shopping-cart-icon {
    position: relative;
}

.cart-icon {
    height: 30px;
    width: 30px;
}

.cartSum {
    top: 0;
    right: -2px;
    position: absolute;
    text-align: center;
    color: bisque;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: white;
}


// modal
.modal {
    display: block;
    position: fixed; // щоб завжди залишався посередині екрану
    z-index: 2; //щоб була клікабельна тільки форма
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); // щоб затемнювався сайт, за межами форми
    padding-top: 20vh;
    .hidden{
        display:none;
    }
    form {
        width: 30%;
        padding: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 25px;
        background-color: #262626;
        color: white;

        .container {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        label {
            display: block;
        }

        input {
            width: 80%;
            padding: 8px 12px;
            border: 1px solid #ADADAD;
            text-align: center;
        }

        button {
            padding: 10px 15px;
            background: #0D4166;
            color: white;
        }

        label[for='uname'],
        label[for='psw'] {
            margin-bottom: 10px;
        }

        label[for='remember-login'] {
            display: inline-block;
        }

        #remember-login {
            width: 10%;
        }
    }
}

.modal-content {
    background-color: #fefefe;
    margin: 5px auto;
    border: 1px solid #888;
    width: 80%;
}

.closeLoginModal {
    position: absolute;
    right: 25px;
    top: 65px;
    color: white;
    font-size: 35px;
    font-weight: bold;
}

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

// ---------------------------------------------- PRODUCT CART ------------------------------------

.product-cart {
    display: block;
    position: fixed; // щоб завжди залишався посередині екрану
    z-index:2; //щоб була клікабельна тільки форма
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); // щоб затемнювався сайт, за межами форми
    padding-top: 10vh;
    .hidden{
        display:none;
    }
    .product-cart-wrapper {
        background-color: gray;
        padding: 5px 0 25px 0;
        border-radius:10%;
        width: 50%;
        margin: 0 auto;
        text-align: center;
        position: relative;

        .products-block {
            background-color: white;
            width: 90%;
            margin: 0 auto;
            padding-bottom: 10px;

            .product-headings {
                display: flex;
                justify-content: space-around;
                align-items: center;
                border-bottom: 1px solid gray;

                p {
                    width: 25%;
                }

                p:first-child {
                    margin-left: 10px;
                }
            }

            .product-item {
                display: flex;
                justify-content: space-around;
                align-items: center;
                margin: 10px 0;
                border-bottom: 1px solid gray;

                .cart-product-descr {
                    width: 25%;
                    margin-left: 15px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .cart-product-img {
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: center;
                        width: 50px;
                        height: 50px;
                    }
                }

                .cart-product-quantity-wrapper {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 25%;

                    img {
                        width: 30px;
                        margin: 0 10px;
                        cursor: pointer;
                    }
                }

                .cart-product-remove {
                    width: 25%;

                    img {
                        width: 30px;
                        cursor: pointer;
                    }
                }

                .cart-product-price-wrapper {
                    width: 25%;
                }
            }

            .cart-total {
                margin-bottom: 10px;
            }

            .cart-checkout {
                button {
                    padding: 15px 30px;
                    background-color: rgb(19, 19, 120);
                    color: white;
                    cursor:pointer;
                }
            }
        }
    }

    .closeCartModal {
        position: absolute;
        right: 15px;
        top: 15px;
        color: white;
        font-size: 35px;
        font-weight: bold;
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

@media screen and (max-width: 1367px) {
    .product-cart {
        .product-cart-wrapper {
            width:80%;
            .products-block {
                .product-item {
                    .cart-product-descr {
                        flex-direction: column;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:first-child {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:last-child {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed; //щоб при скролі залишалось 
        left: -100%;
        top: 70px; //можна змінити чекнути
        flex-direction: column;
        background-color: #262626;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        gap: 0;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
        z-index: 2;
    }

    .modal {
        form {
            width: 50%;
            font-size: 18px;
        }
    }

    .closeLoginModal {
        right: 50px;
    }

    .product-cart {
        .product-cart-wrapper {
            width: 100%;

            .products-block {
                width: 90%;
                padding-bottom:25px;

                .product-headings {
                    font-size: 12px;
                }

                .product-item {
                    .cart-product-descr {
                        flex-direction: column;
                    }

                    .cart-product-quantity-wrapper {
                        img {
                            width: 20px;
                        }
                    }

                    .cart-product-remove {
                        img {
                            width: 20px;
                        }
                    }
                }
                .cart-checkout{
                    padding-bottom:25px;
                }
            }
        }
    }
}