.loader-modal{
    background-color: #262626;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
    padding-bottom:25px;
    height: 250px;
    
    .loader {
        width: 64px;
        height: 64px;
        position: relative;
        border-radius: 50%;
        box-shadow: -10px 8px 0 18px inset #fff;
        animation: rotate 2s ease-in infinite alternate;
      }
      .loader::before {
        content: '';
        position: absolute;
        left: 14px;
        bottom: 16px;
        background: #FF3D00;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        animation: scale 1s ease-in infinite alternate;
      }
      @keyframes rotate {
        100% { transform: rotate(750deg)}
      }
      @keyframes scale {
       100% { transform: scale(0.5) translateY(5px)}
      }
    
      
    
}
.products-wrapper {
    background-color: #bab4b4;
    padding-top: 15px;
    .hide{
        display: none;
    }
   
}

.category-select {
    width: 50%;
    margin: 25px 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    border: 1px solid black;
    border-radius: 25px;
    padding: 0 25px;

    h3 {
        margin-left: 10px;
    }

    .product-category {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-bottom: 10px;
    &.active{
        background-color:bisque;
    }
        img {
            width: 25%;
        }
    }

    .product-category:hover {
        // background-color: beige;
        cursor: pointer;
    }
}

.products-grid, .products-sorted-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 20px 5% 0 5%;
    gap: 20px;
    padding-bottom: 20px;
}
.products-sorted-grid{
    display:none;
}

.grid_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    border: 1px solid black;
    background-color: white;

    .grid_descr {
        opacity: 0; //щоб по дефолту не видно було
        transform: scale(0); //щоб по дефолту не видно було
        color: white;
        font-size: 1.2rem;
    }

    .grid_image {
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        height: 60%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 20px;
    }

    .grid_image:hover {
        box-shadow: 0 0 0 500px rgba(0, 0, 0, 0.5) inset;
        cursor: pointer;
    }

    .grid_image:hover .grid_descr {
        opacity: 1;
        transform: scale(1);
    }

    .grid_body {
        font-size: 18px;
        margin: 15px 0;
        text-align: center;

        p {
            margin: 10px 0;
        }

        button {
            padding: 15px 30px;
            background-color: #bab4b4;
            color: black;
        }
        button:hover{
            background-color: bisque;
            color:black;
        }
    }
}
.products-error{
    font-size:25px;
    text-align: center;
    grid-column-start: 2;
    padding:15px 0;
}

@media screen and (max-width:1024px) {
    .products-grid, .products-sorted-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 768px) {
    .category-select {
        flex-direction: column;
        margin: 25px 20%;
    }

    .products-grid, .products-sorted-grid {
        grid-template-columns: 1fr;
        margin: 0;
    }
}