
#product-details {
    margin-top: 150px;

    h1 {
        text-align: center;
    }

    .product-container {
        display: flex;
        width: 75%;
        margin: 0 12.5%;
        height: 800px;

        .product-image {
            width: 50%;
            position:relative;
            img {
                width: 85%;
                height: 100%;
            }
            #lens{
                z-index:2;
                height:125px;
                width: 125px;
                border:2px solid black;
                position:absolute;
                cursor:none;
                background-repeat: no-repeat;
            }
        }

        .product-description {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 50%;
            .price, .category{
             font-weight: bold;
            }
            button {
                padding: 15px 30px;
                background-color: #bab4b4;
                color: black;
            }
            button:hover{
                background-color: bisque;
                color:black;
            }
        }
    }

}
.hidden{
    display:none;
}
@media screen and (max-width:1367px) {
    #product-details {
        .product-container {
            height: 600px;
        }    
        margin-top: 10%;
    }    
}
@media screen and (max-width:768px) {
    #product-details {
        margin-top: 25%;

        h1 {
            text-align: center;
            font-size:25px;
        }

        .product-container {
            display: flex;
            flex-direction: column;
            width: 75%;
            margin: 0 12.5%;
            height: 500px;

            .product-image {
                width: 100%;

                img {
                    width: 100%;
                    height: 100%;
                }
                #lens{
                    opacity: 0;
                }
            }

            .product-description {
                width: 100%;
                p{
                    font-size:12px;
                    margin-top:0;
                }
            }
        }

    }
}