.review-carousel{
    background-color: #bab4b4;
    position: relative;
    height:400px;
    width:100%;
    padding-bottom:25px;
}
.review-slide{
    display:flex;
    align-items: center;
    width:60%;
    margin:10px 20%;
    border:5px solid black;
    position:absolute;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
    height:350px;
    .review-image{
        width:25%;
        margin-left:15px;
        img{
            width:200px;
            height:200px;
            border-radius:50%;
        }
    }
    .review-descr{
        margin-left:25px;
        margin-right:15px;
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        h2{
            text-align: center;
            font-size:2rem;
        }
        p{
            text-align: center;
            font-size:20px;
        }
        h3{
            font-size:1.5rem;
            align-self: flex-end;
            margin-right:15px;
        }
    }
}
.review-slide[data-active]{
    opacity: 1;
}
.rev-carousel-btn {
    position:absolute;
    background:none;
    border:none;
    font-size:4rem;
    top:50%;
    z-index:2;
    transform: translateY(-50%);
    cursor: pointer;
    border-radius: .25rem;
    padding:0 .5rem;
    background-color: rgba(0,0,0, .1);
}

.rev-carousel-btn:hover,
.rev-carousel-btn:focus{
    color:white;
    background-color:rgba(0,0,0, .3)
}
.rev-carousel-btn.prev{
    left:3rem;
}
.rev-carousel-btn.next{
    right:3rem;
}
@media screen and (max-width:1366px) {
    .review-slide{
        width:75%;
        margin:10px 12.5%;
        .review-descr{
            h2{
                font-size:25px;
            }
            p{
                font-size:15px;
            }
        }
        .review-image{
            img{
                height: 150px;
                width:150px;
            }
        }
   }
   .rev-carousel-btn{
       font-size:2rem; 
   }
   .rev-carousel-btn.prev{
       left:5px;
   }
   .rev-carousel-btn.next{
       right:5px;
   }
}
@media screen and (max-width:768px) {
    .review-carousel{
        padding-bottom:40px;
    }
    .review-slide{
         width:90%;
         margin:0 5%;
         height: auto;
         .review-descr{
             h2{
                 font-size:20px;
             }
             p{
                 font-size:12px;
             }
         }
         .review-image{
             img{
                 height: 100px;
                 width:100px;
             }
         }
    }
    .rev-carousel-btn{
        font-size:1.5rem; 
        top:75%;
    }
    .rev-carousel-btn.prev{
        left:5px;
    }
    .rev-carousel-btn.next{
        right:5px;
    }
}