body,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  background-color: #262626;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}

li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.nav-branding {
  font-size: 2rem;
}

.nav-link {
  transition: 0.7s ease;
}

.nav-link:hover {
  color: bisque;
}

.login-icon {
  height: 25px;
  width: 25px;
}

.shopping-cart-icon {
  position: relative;
}

.cart-icon {
  height: 30px;
  width: 30px;
}

.cartSum {
  top: 0;
  right: -2px;
  position: absolute;
  text-align: center;
  color: bisque;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.modal {
  display: block;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 20vh;
}
.modal .hidden {
  display: none;
}
.modal form {
  width: 30%;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 25px;
  background-color: #262626;
  color: white;
}
.modal form .container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.modal form label {
  display: block;
}
.modal form input {
  width: 80%;
  padding: 8px 12px;
  border: 1px solid #ADADAD;
  text-align: center;
}
.modal form button {
  padding: 10px 15px;
  background: #0D4166;
  color: white;
}
.modal form label[for=uname],
.modal form label[for=psw] {
  margin-bottom: 10px;
}
.modal form label[for=remember-login] {
  display: inline-block;
}
.modal form #remember-login {
  width: 10%;
}

.modal-content {
  background-color: #fefefe;
  margin: 5px auto;
  border: 1px solid #888;
  width: 80%;
}

.closeLoginModal {
  position: absolute;
  right: 25px;
  top: 65px;
  color: white;
  font-size: 35px;
  font-weight: bold;
}

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

.product-cart {
  display: block;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 10vh;
}
.product-cart .hidden {
  display: none;
}
.product-cart .product-cart-wrapper {
  background-color: gray;
  padding: 5px 0 25px 0;
  border-radius: 10%;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
.product-cart .product-cart-wrapper .products-block {
  background-color: white;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 10px;
}
.product-cart .product-cart-wrapper .products-block .product-headings {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid gray;
}
.product-cart .product-cart-wrapper .products-block .product-headings p {
  width: 25%;
}
.product-cart .product-cart-wrapper .products-block .product-headings p:first-child {
  margin-left: 10px;
}
.product-cart .product-cart-wrapper .products-block .product-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px 0;
  border-bottom: 1px solid gray;
}
.product-cart .product-cart-wrapper .products-block .product-item .cart-product-descr {
  width: 25%;
  margin-left: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-cart .product-cart-wrapper .products-block .product-item .cart-product-descr .cart-product-img {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 50px;
  height: 50px;
}
.product-cart .product-cart-wrapper .products-block .product-item .cart-product-quantity-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
}
.product-cart .product-cart-wrapper .products-block .product-item .cart-product-quantity-wrapper img {
  width: 30px;
  margin: 0 10px;
  cursor: pointer;
}
.product-cart .product-cart-wrapper .products-block .product-item .cart-product-remove {
  width: 25%;
}
.product-cart .product-cart-wrapper .products-block .product-item .cart-product-remove img {
  width: 30px;
  cursor: pointer;
}
.product-cart .product-cart-wrapper .products-block .product-item .cart-product-price-wrapper {
  width: 25%;
}
.product-cart .product-cart-wrapper .products-block .cart-total {
  margin-bottom: 10px;
}
.product-cart .product-cart-wrapper .products-block .cart-checkout button {
  padding: 15px 30px;
  background-color: rgb(19, 19, 120);
  color: white;
  cursor: pointer;
}
.product-cart .closeCartModal {
  position: absolute;
  right: 15px;
  top: 15px;
  color: white;
  font-size: 35px;
  font-weight: bold;
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@media screen and (max-width: 1367px) {
  .product-cart .product-cart-wrapper {
    width: 80%;
  }
  .product-cart .product-cart-wrapper .products-block .product-item .cart-product-descr {
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:first-child {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:last-child {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    flex-direction: column;
    background-color: #262626;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    gap: 0;
  }
  .nav-item {
    margin: 16px 0;
  }
  .nav-menu.active {
    left: 0;
    z-index: 2;
  }
  .modal form {
    width: 50%;
    font-size: 18px;
  }
  .closeLoginModal {
    right: 50px;
  }
  .product-cart .product-cart-wrapper {
    width: 100%;
  }
  .product-cart .product-cart-wrapper .products-block {
    width: 90%;
    padding-bottom: 25px;
  }
  .product-cart .product-cart-wrapper .products-block .product-headings {
    font-size: 12px;
  }
  .product-cart .product-cart-wrapper .products-block .product-item .cart-product-descr {
    flex-direction: column;
  }
  .product-cart .product-cart-wrapper .products-block .product-item .cart-product-quantity-wrapper img {
    width: 20px;
  }
  .product-cart .product-cart-wrapper .products-block .product-item .cart-product-remove img {
    width: 20px;
  }
  .product-cart .product-cart-wrapper .products-block .cart-checkout {
    padding-bottom: 25px;
  }
}
#slider {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #313131;
  margin-top: 70px;
  padding-bottom: 30px;
}
#slider .container {
  width: 1600px;
  margin: auto;
  color: white;
}
#slider .container h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}
#slider .container h3 {
  font-size: 1.5rem;
}
#slider .container p {
  font-size: 1.5rem;
}
#slider .container .subcontainer {
  width: 85%;
  margin: auto;
}

.slide-img {
  width: 100%;
  height: 75vh;
  border-radius: 5px;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.slide-img:hover {
  box-shadow: 0 0 0 500px rgba(0, 0, 0, 0.8) inset;
}

.slide-img p {
  opacity: 0;
  text-decoration: none;
  transform: scale(0);
  transition: 0.8s;
  font-size: 1.5rem;
  color: white;
}

.slide-img:hover p {
  opacity: 1;
  transform: scale(1);
}

.img-1 {
  background-image: url(../images/slide-1.jpg);
}

.img-2 {
  background-image: url(../images/slide-2.jpg);
}

.img-3 {
  background-image: url(../images/slide-3.jpg);
}

@media screen and (max-width: 1600px) {
  #slider .container {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .slide-img {
    height: 50vh;
  }
  .grid_item {
    width: 80%;
    margin: 0 10%;
  }
}
.loader-modal {
  background-color: #262626;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding-bottom: 25px;
  height: 250px;
}
.loader-modal .loader {
  width: 64px;
  height: 64px;
  position: relative;
  border-radius: 50%;
  box-shadow: -10px 8px 0 18px inset #fff;
  animation: rotate 2s ease-in infinite alternate;
}
.loader-modal .loader::before {
  content: "";
  position: absolute;
  left: 14px;
  bottom: 16px;
  background: #FF3D00;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  animation: scale 1s ease-in infinite alternate;
}
@keyframes rotate {
  100% {
    transform: rotate(750deg);
  }
}
@keyframes scale {
  100% {
    transform: scale(0.5) translateY(5px);
  }
}

.products-wrapper {
  background-color: #bab4b4;
  padding-top: 15px;
}
.products-wrapper .hide {
  display: none;
}

.category-select {
  width: 50%;
  margin: 25px 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  border: 1px solid black;
  border-radius: 25px;
  padding: 0 25px;
}
.category-select h3 {
  margin-left: 10px;
}
.category-select .product-category {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 10px;
}
.category-select .product-category.active {
  background-color: bisque;
}
.category-select .product-category img {
  width: 25%;
}
.category-select .product-category:hover {
  cursor: pointer;
}

.products-grid, .products-sorted-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 20px 5% 0 5%;
  gap: 20px;
  padding-bottom: 20px;
}

.products-sorted-grid {
  display: none;
}

.grid_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
  border: 1px solid black;
  background-color: white;
}
.grid_item .grid_descr {
  opacity: 0;
  transform: scale(0);
  color: white;
  font-size: 1.2rem;
}
.grid_item .grid_image {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}
.grid_item .grid_image:hover {
  box-shadow: 0 0 0 500px rgba(0, 0, 0, 0.5) inset;
  cursor: pointer;
}
.grid_item .grid_image:hover .grid_descr {
  opacity: 1;
  transform: scale(1);
}
.grid_item .grid_body {
  font-size: 18px;
  margin: 15px 0;
  text-align: center;
}
.grid_item .grid_body p {
  margin: 10px 0;
}
.grid_item .grid_body button {
  padding: 15px 30px;
  background-color: #bab4b4;
  color: black;
}
.grid_item .grid_body button:hover {
  background-color: bisque;
  color: black;
}

.products-error {
  font-size: 25px;
  text-align: center;
  grid-column-start: 2;
  padding: 15px 0;
}

@media screen and (max-width: 1024px) {
  .products-grid, .products-sorted-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 768px) {
  .category-select {
    flex-direction: column;
    margin: 25px 20%;
  }
  .products-grid, .products-sorted-grid {
    grid-template-columns: 1fr;
    margin: 0;
  }
}
.review-carousel {
  background-color: #bab4b4;
  position: relative;
  height: 400px;
  width: 100%;
  padding-bottom: 25px;
}

.review-slide {
  display: flex;
  align-items: center;
  width: 60%;
  margin: 10px 20%;
  border: 5px solid black;
  position: absolute;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;
  height: 350px;
}
.review-slide .review-image {
  width: 25%;
  margin-left: 15px;
}
.review-slide .review-image img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.review-slide .review-descr {
  margin-left: 25px;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.review-slide .review-descr h2 {
  text-align: center;
  font-size: 2rem;
}
.review-slide .review-descr p {
  text-align: center;
  font-size: 20px;
}
.review-slide .review-descr h3 {
  font-size: 1.5rem;
  align-self: flex-end;
  margin-right: 15px;
}

.review-slide[data-active] {
  opacity: 1;
}

.rev-carousel-btn {
  position: absolute;
  background: none;
  border: none;
  font-size: 4rem;
  top: 50%;
  z-index: 2;
  transform: translateY(-50%);
  cursor: pointer;
  border-radius: 0.25rem;
  padding: 0 0.5rem;
  background-color: rgba(0, 0, 0, 0.1);
}

.rev-carousel-btn:hover,
.rev-carousel-btn:focus {
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
}

.rev-carousel-btn.prev {
  left: 3rem;
}

.rev-carousel-btn.next {
  right: 3rem;
}

@media screen and (max-width: 1366px) {
  .review-slide {
    width: 75%;
    margin: 10px 12.5%;
  }
  .review-slide .review-descr h2 {
    font-size: 25px;
  }
  .review-slide .review-descr p {
    font-size: 15px;
  }
  .review-slide .review-image img {
    height: 150px;
    width: 150px;
  }
  .rev-carousel-btn {
    font-size: 2rem;
  }
  .rev-carousel-btn.prev {
    left: 5px;
  }
  .rev-carousel-btn.next {
    right: 5px;
  }
}
@media screen and (max-width: 768px) {
  .review-carousel {
    padding-bottom: 40px;
  }
  .review-slide {
    width: 90%;
    margin: 0 5%;
    height: auto;
  }
  .review-slide .review-descr h2 {
    font-size: 20px;
  }
  .review-slide .review-descr p {
    font-size: 12px;
  }
  .review-slide .review-image img {
    height: 100px;
    width: 100px;
  }
  .rev-carousel-btn {
    font-size: 1.5rem;
    top: 75%;
  }
  .rev-carousel-btn.prev {
    left: 5px;
  }
  .rev-carousel-btn.next {
    right: 5px;
  }
}
footer {
  background-color: #262626;
  color: white;
  padding-top: 20px;
}
footer .footer-wrapper {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
footer .footer-wrapper h4 {
  margin: 0;
  font-size: 2rem;
}
footer .footer-wrapper .footer-block {
  width: 33%;
}
footer .footer-wrapper .contact-info .contact-info-block {
  display: flex;
}
footer .footer-wrapper .contact-info img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
footer .footer-wrapper .footer-icons-block {
  display: flex;
  margin: 15px 0;
}
footer .footer-wrapper .footer-icons-block img {
  height: 50px;
  width: 50px;
  margin-right: 10px;
}
footer .footer-wrapper .footer-icons-block img:hover {
  background-color: #bab4b4;
}
footer .footer-wrapper .footer-form {
  margin-bottom: 15px;
}
footer .footer-wrapper .footer-form input {
  padding: 15px;
}
footer .footer-wrapper .footer-form button {
  padding: 15px 30px;
  background-color: #bab4b4;
  color: white;
}
footer .footer-wrapper .footer-form button:hover {
  background-color: bisque;
  color: black;
}
footer .footer-wrapper .icons-used {
  display: none;
}

@media screen and (max-width: 768px) {
  footer .footer-wrapper {
    flex-direction: column;
    text-align: center;
  }
  footer .footer-wrapper .footer-block {
    width: 100%;
  }
  footer .footer-wrapper .footer-follow {
    text-align: center;
  }
  footer .footer-wrapper .footer-follow .footer-icons-block {
    justify-content: center;
  }
}
#product-details {
  margin-top: 150px;
}
#product-details h1 {
  text-align: center;
}
#product-details .product-container {
  display: flex;
  width: 75%;
  margin: 0 12.5%;
  height: 800px;
}
#product-details .product-container .product-image {
  width: 50%;
  position: relative;
}
#product-details .product-container .product-image img {
  width: 85%;
  height: 100%;
}
#product-details .product-container .product-image #lens {
  z-index: 2;
  height: 125px;
  width: 125px;
  border: 2px solid black;
  position: absolute;
  cursor: none;
  background-repeat: no-repeat;
}
#product-details .product-container .product-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}
#product-details .product-container .product-description .price, #product-details .product-container .product-description .category {
  font-weight: bold;
}
#product-details .product-container .product-description button {
  padding: 15px 30px;
  background-color: #bab4b4;
  color: black;
}
#product-details .product-container .product-description button:hover {
  background-color: bisque;
  color: black;
}

.hidden {
  display: none;
}

@media screen and (max-width: 1367px) {
  #product-details {
    margin-top: 10%;
  }
  #product-details .product-container {
    height: 600px;
  }
}
@media screen and (max-width: 768px) {
  #product-details {
    margin-top: 25%;
  }
  #product-details h1 {
    text-align: center;
    font-size: 25px;
  }
  #product-details .product-container {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 0 12.5%;
    height: 500px;
  }
  #product-details .product-container .product-image {
    width: 100%;
  }
  #product-details .product-container .product-image img {
    width: 100%;
    height: 100%;
  }
  #product-details .product-container .product-image #lens {
    opacity: 0;
  }
  #product-details .product-container .product-description {
    width: 100%;
  }
  #product-details .product-container .product-description p {
    font-size: 12px;
    margin-top: 0;
  }
}
body {
  font-family: "Marcellus", serif;
  font-family: "Marcellus SC", serif;
  font-family: "Roboto Mono", monospace;
}

/*# sourceMappingURL=style.css.map */
