@use 'nav';
@use 'main-slider';
@use 'products';
@use 'reviews';
@use 'footer';
@use 'product';

body {
    font-family: 'Marcellus', serif;
    font-family: 'Marcellus SC', serif;
    font-family: 'Roboto Mono', monospace;
}